@charset "utf-8";
/* CSS App TodoJujuy */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	margin:0;
	padding:0;	
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	background:#FFF;
}
#header {
	width: 100%;
	position:fixed;
	top:0;
	float: left;
	color: #CCC;
	background: #F5F5F5;
	text-align: center;
	line-height: 40px;
	height: 40px;
	overflow:hidden
}
#header .m1{
	width:33%;
	float:left;
}
#header .m2{
	width:34%;
	text-align:center;
	float:left;	
}
#header .m3{
	width:33%;
	float:left;	
}
#header .separador {
	width:100%;
	height:1px;
	background: #F5F5F5;
	border-bottom:1px dotted #CCCCCC;
	float:left;
}
#menu_secciones {
	position:relative;
	float:left;
	z-index:9999;
	float:right;
	top:4px;
	right:4px;
	cursor:pointer;
}
#menu_blank {
	position:relative;
	float:left;
	top:4px;
	left:4px;
}
#menu_blank2 {
	position:relative;
	float:left;
	margin-left:4px;
	top:4px;
	left:4px;
}
#menu_back {
	position:relative;
	float:left;
	top:4px;
	left:4px;
}
#menu_home {
	position:relative;
	float:left;
	margin-left:4px;
	top:4px;
	left:4px;
}
#menu_logo {
	background:red;
	float:left;
	width:140px;
	height:38px;
	margin:0 auto;
	margin-left:4px;
	top:4px;
	left:4px;
}
#secciones {
	display:none;
	background:#525252;
	width:100%;
	position:fixed;
	z-index:9999;
	top:40px;
	text-align:center;
	float:left;	
}
#secciones a, #lista_secciones .item a{
	text-decoration:none;
	text-transform:uppercase;
	color:#F5F5F5;
}
#secciones .lista_titulo {
	line-height:26px;
	font-size:11px;
	color:#313131;
	background-color:#F5F5F5;
	width:100%;
	float:left;
	margin:0 auto;	
}
#lista_secciones {	
	width:100%;	
	float:left;	
}
#lista_secciones .item{
	line-height:30px;
	height:30px;
	font-size:14px;
	border-bottom:1px dotted #666666;
	width:98%;
	margin:0 auto;
	position:relative;
	z-index:9999;
}
#ocultar_menu_seccion {
	background:url(../img/ocultar.png) center center no-repeat #646464;
	line-height:24px;
	height:24px;
	color:#FFF;
	border-bottom:2px solid #C00;
}
#cargando {
	margin:0 auto;
	padding-top:96px;
	line-height:30px;
	text-align:center;
	position:relative;
	z-index:9999;
	width:100%;
	height:100%;
	float:left;
	background:url(../img/general-loader.gif) center 60px no-repeat #FFF;		
}
#general {
	width:100%;
	float:left;
}
#general a{
	text-decoration:none;
}

#footer {
	width:100%;
	float:left;
	position:fixed;
	bottom:0;
	background:url(../img/bk.png) repeat;
}
#footer a {
	text-decoration:none;
}
#footer .copy {
	width:100%;
	float:left;
	line-height:24px;
	font-size:11px;
	color: #CCC;
	background:#313131;
	text-align:center;
	display:none;
}
/************************************************/
#sitewrap {
	padding:10px 0 50px 0;
	width:100%;
	float:left;
}
#pagewrap {
	max-width:1000px;
	margin:0 auto;
}
.content-wrapper {
	max-width:1000px;
	margin:0 auto;
	margin-top:20px;	
	padding:0;
	background:#FFF;	
}
.wrapper-outer {
	margin: 0 10px;	
}
.post {	
	padding:8px;
	width:100%;
	float:left;	
}
.separador {
	width:100%;
	height:8px;
	border-bottom:1px dotted #CCCCCC;
	float:left;
}
#lista_ultimom {
	padding:3px;
	background-color:#C00;
	font-size:10px;
	text-transform:uppercase;
	color:#FFF;
	float:left;
	display:none;
}
#um {
	font-size:11px;
	padding:4px 0;
	background-color: #EEE;
	width:100%;
	float:left;
	border:2px solid #C00;
	display:none;
}
#lista_ult_mom .item{
	font-size:11px;
	padding:3px 6px;	
}
#um a{	
	text-decoration:none;
	color:#313131;
}
#contenido_clima {
	width:100%;
	float:left;
	text-align:center;
	padding-bottom:4px;
	margin-bottom:4px;
	border-bottom:1px dotted #EEEEEE;
}
#contenido_clima .imagen {
	margin-top:4px;
	text-align:center;
	width:20%;
	float:left;
	height:25px;
}
#contenido_clima .uno {
	width:40%;
	float:left;
	font-size:11px;
	line-height:30px;
	text-align: right;
}
#contenido_clima .dos {
	width:40%;
	float:left;
	font-size:11px;
	line-height:30px;
	text-align:left;
}
#noticia {
	padding:6px;
}
#noticia a{
	text-decoration:none;
	color:#313131;
}
#noticia .titulo {
	font-size:16px;
	margin-bottom:4px;
	line-height:22px;
	font-weight:700;
	color:#313131;
	width:100%;
	float:left;
}
#noticia .fecha {
	width:100%;
	float:left;
	line-height:20px;
}
#noticia .subtitulo {
	width:100%;
	float:left;
	line-height:18px;
	font-size:12px;
	padding:2px 0;
	font-weight:bold;
	border-top: 1px solid #E8E8E8
}
#noticia .introduccion {
	width:100%;
	float:left;
	line-height:20px;	
	padding:3px 0;
	font-size:12px;
	font-weight:600;
	border-top: 1px solid #E8E8E8
}
#noticia .copete {
	width:100%;
	float:left;
	line-height:20px;	
	padding:3px 0;
	font-size:12px;
	border-top: 1px solid #E8E8E8
}
#noticia .imagen {
	padding:2px;
	width:120px;
	overflow:hidden;
	margin:0 5px 5px 0;
	border:1px solid #E8E8E8;
	float:left;
}
#noticia .imagen_ampliada {
	padding:2px;
	border:1px solid #E8E8E8;
	float:left;
}
#noticia .resumen {
	font-size:12px;
	float:left;
	width:100%;
}
#noticia .separador {
	width:100%;
	height:8px;
	margin-bottom:4px;
	border-bottom:1px dotted #CCCCCC;
	float:left;
}
#slide-imagenes {
	display:none; 
	width:100%;
	float:left;
}
#contenido {
	padding:6px;
}
#contenido a{
	text-decoration:none;
	color:#313131;
}
#contenido .titulo {
	font-size:14px;
	line-height:22px;
	font-weight:700;
	color:#313131;
	width:100%;
	float:left;
}
#contenido .fecha {
	width:100%;
	float:left;
	line-height:20px;
}
#contenido .donde {
	color:#C00;
	font-weight:bold;
	font-size:11px;
	padding:6px 0;
}
#contenido .nombres {
	margin:6px 0;
	padding:6px;
	font-size:11px;
	border:1px dashed #6C7886;
	background:#EDEFF1;
	color:#6C7886
}
#contenido .descripcion {
	float:left;
	padding:6px 0;
	font-size:11px;	
	color:#313131;
}
#contenido .imagen_cine {
	float:left;
	padding:2px;
	margin:0 4px 4px 0;
	border:1px solid #E8E8E8;
}
#contenido .trailer {
	width:100%;
	margin:6px 0;
}
#contenido .trailer a{
	background:#C00;
	color:#FFF;
	padding:4px;
	text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
}
#contenido .farmacia_localidad{
	line-height:22px;
	font-size:12px;
	font-weight:700;	
	width:100%;
	float:left;
}
#contenido .farmacias_detalle {
	padding:5px 0;
	font-size:12px;
	line-height:16px;
	border:1px dotted #CCCCCC;
	margin:4px 0;
	background:#FFF;
	width:100%;
	float:left;
}
#contenido .mini_direccion, #contenido .mini_telefono {
	width:100%;
	color:#999;
	padding-left:5px;
	font-size:9px;
	line-height:14px;
	text-transform:uppercase;
}
#contenido .farmacia_titulo {
	font-weight:bold;
	color:#C00;
	font-size: 12px;
	width:100%;
	padding-left:5px;
}
#contenido .farmacia_telefono, #contenido .farmacia_direccion {
	color:#1f1f1f;
	font-size: 12px;
	width:100%;
	padding-left:5px;
}
#contenido .farmacia_imagen {
	width:100%;
	float:left;
	display:none;
}
#contenido .farmacia_link {
	width:100%;
	float:left;
	padding:4px 0;
}
#contenido .farmacia_link a{
	padding:2px 4px;
	background-color: #9F9F9F;
	font-size:10px;
	text-transform:uppercase;
	color: #F0F0F0;
	margin-left:4px;
}
#lista_relacionadas, #lista_masleidas {
	width:100%;
	float:left;
	border-top:1px dotted #999999;
	display:none;
}
#lista_relacionadas a, #lista_masleidas a{
	text-decoration:none;
	color:#313131;
}
#lista_relacionadas .titulo, #lista_masleidas .titulo{
	padding:4px 0;
	font-size:10px;
	color:#313131;
	text-transform:uppercase;
	font-weight:400;
	width:100%;
	float:left;
}
#item_relacionado {
	width:100%;
	float:left;
	margin-bottom:4px;
	font-size:14px;
}
#item_relacionado .imagen, #item_masleidas .imagen {
	float:left;
	margin: 0 2px 2px 0;
	padding:2px;
	border:1px solid #CCC;	
}
/***/
#menu_bottom {
	margin:0 auto;
	padding:0;		
	width:100%;
	height:46px;
	position:fixed;	
	z-index:99999;
	bottom:0px;	
	border-top:1px solid #E2E2E2;
	background-color:#ECECFB;
}
#menu_bottom a {		
	text-decoration:none;	
}
#menu_bottom a:hover {
	background-color:#DBDDDD
}
#menu_bottom .item {
	text-align:center;
	padding:3px 0;
	width:20%;
	float:left;
}
#menu_bottom .item .titulo {
	font-size:9px;
	color:#313131;
	width:100%;
	line-height:11px;
	margin-top:2px;
}
.titulo_pagina {
	width:100%;
	float:left;
	font-size:14px;
	font-weight:400;
	padding-left:6px;
	line-height:30px;
}
/****
	Clima
*****/
#seleccion {
	width:100%;
	float:left;
	padding:10px 0;
	display:none;
}
#sel_ciudad {
	border:1px solid #E2E2E2;
	background-color:#F3F3F3;
	padding:10px 6px;
	font-size:11px;
	color:#313131;
	width:100%;
	float:left;
}
.clima_detalle {
	width:100%;
	float:left;
	margin:10px 0;
	text-align:center;
}
.clima_ciudad {
	color:#C00;
	font-size:16px;
	line-height:22px;
	font-weight:700;
	text-align:center;
}
.clima_temperatura {
	font-size:28px;
	font-weight:600;
}
.datos_hum {
	width:48%;
	padding:4px 4px 4px 0;
	float:left;
	text-align:right;
	border-top:  1px dotted #C7C7C7;
	border-right: 1px dotted #C7C7C7;
}
.datos_pre {
	width:48%;
	padding:4px 0 4px 4px;
	float:left;
	text-align:left;
	border-top:  1px dotted #C7C7C7;
}
.datos_salida {
	width:48%;
	padding-top:4px;
	padding-right:4px;
	float:left;
	text-align:right;
	border-top:  1px dotted #C7C7C7;
	border-right: 1px dotted #C7C7C7
}
.datos_puesta {
	width:48%;
	padding-top:4px;	
	padding-left:4px;
	float:left;
	text-align:left;
	border-top: 1px dotted #C7C7C7;	
}
.humedad, .presion, .salida, .puesta {
	font-weight:bold;
}
.extendido {
	width:100%;
	float:left;
	line-height:24px;
	font-size:12px;
	text-align:center;
	border-top: 2px solid #C00;
	margin-top:4px;
}
/****/
#busqueda {
	width:100%;
	float:left;
	padding:10px 0;
	line-height:16px;
	text-align:center
}
#busqueda .titulo {
	width:100%;
	float:left;
	line-height:22px;
	font-size:14px;
	font-weight:600;
	color:#313131;
}
#busqueda input[type=text]  {
	padding:6px 4px;
	margin:5px 0;
	font-size:12px;
	color:#313131;
	background-color:#EEE;
	border:none;
	width:80%;
}
#busqueda .boton{
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	background-color: #C00;
	border: 1px solid #C00;
	color:#FFF;
	text-align:center;
	width:60px;
	margin: 0 auto;
	line-height:30px;
}
#busqueda .boton:hover{
	background-color:#313131;
	border: 1px solid #666;
	color:#FFF;
	cursor:pointer;
}
#error {
	width:100%;
	padding:6px 0;
	color:#C00;
	font-size:12px;
	display:none;
}
#fbuscar {
	padding:10px 0;
	border:1px dotted #E6E6E6;
	width:100%;
	float:left;
	text-align:center;
}
/****/
#fin {
	width:100%;
	float:left;
	height:40px;
	margin-bottom:0px;
}